<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head Fragment -->
<head th:replace="fragments/imports :: head">
  <title>Your Name Here</title>
</head>

<body>
  <!-- Navbar Fragment -->
  <nav th:replace="fragments/navbar :: navbar"></nav>

  <div class="container mt-4 form-container">
    <form th:action="@{/thankyou}" th:object="${contact}" method="post">
      <div class="row m-3">
        <div class="col">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" placeholder="First name" th:field="*{firstName}">
         <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
          
        </div>
        <div class="col">
        
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" placeholder="Last name" th:field="*{lastName}">
          <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
          
        </div>
      </div>
      <div class="row m-3">
        <div class="col">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" placeholder="Your Email" th:field="*{email}">
          <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
        </div>
      </div>
      <div class="row m-3">
        <div class="col">
          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" id="contact-message" style="height: 200px" class="form-control"
              th:field="*{message}"></textarea>
              <label th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="validation-message"></label>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-auto my-1">
          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Reason For Contact</label>
          <select id="inlineFormCustomSelect" name="reason" th:field="*{reason}">
            <option selected value="">Reason for contact</option>
            <option value="General Inquiry">General Inquiry</option>
            <option value="Job Opportunity">Job Opportunity</option>
            <option value="Just to say Hi!">Just to say Hi!</option>
          </select>
          <label th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}" class="validation-message"></label>
        </div>
      </div>
      <div class="row m-3">
        <div class="col">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Footer Fragment -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!-- Script Fragment -->
  <div th:replace="fragments/imports :: script-links"></div>
</body>

</html>