<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/imports :: head">
  <title>Thank You</title>
</head>

<body>
  <nav th:replace="fragments/navbar :: navbar"></nav>

  <div class="container" style="height: 75vh;">

    <div class="jumbotron">
      <h1 class="display-4">Thanks for reaching out <span th:text="${firstName}"></span></h1>
      <p class="lead">I'll get back to you at <span style="color: blue" th:text="${email}"></span> as soon as possible. Have a great day!</p>
    </div>

  </div>

  <!-- Footer Fragment -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!-- Script Fragment -->
  <div th:replace="fragments/imports :: script-links"></div>
</body>

</html>