<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/imports :: head">
	<title>{Your Name Here}</title>
</head>

<body>
	<!-- Navbar Fragment -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<div class="row mt-3">
			<div class="col-md mt-3">
				<div class="card" style="width: 18rem;">
					<img src="https://via.placeholder.com/250?text=project+1" class="card-img-top" alt="...">
					<div class="card-body">
						<!-- Insert the project title -->
						<h5 class="card-title">{Project Title}</h5>
						<!-- Insert project description -->
						<p class="card-text">Short Description of project.</p>
						<!-- Insert Link to Project Github -->
						<a href="#" class="btn btn-primary">Github</a>
					</div>
				</div>
			</div>
			<div class="col-md mt-3">
				<div class="card" style="width: 18rem;">
					<img src="https://via.placeholder.com/250?text=project+2" class="card-img-top" alt="...">
					<div class="card-body">
						<!-- Insert the project title -->
						<h5 class="card-title">{Project Title}</h5>
						<!-- Insert project description -->
						<p class="card-text">Short Description of project.</p>
						<!-- Insert Link to Project Github -->
						<a href="#" class="btn btn-primary">Github</a>
					</div>
				</div>
			</div>
			<div class="col-md mt-3">
				<div class="card" style="width: 18rem;">
					<img src="https://via.placeholder.com/250?text=project+3" class="card-img-top" alt="...">
					<div class="card-body">
						<!-- Insert the project title -->
						<h5 class="card-title">{Project Title}</h5>
						<!-- Insert project description -->
						<p class="card-text">Short Description of project.</p>
						<!-- Insert Link to Project Github -->
						<a href="#" class="btn btn-primary">Github</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md mt-3">
				<div class="card" style="width: 18rem;">
					<img src="https://via.placeholder.com/250?text=project+4" class="card-img-top" alt="...">
					<div class="card-body">
						<!-- Insert the project title -->
						<h5 class="card-title">{Project Title}</h5>
						<!-- Insert project description -->
						<p class="card-text">Short Description of project.</p>
						<!-- Insert Link to Project Github -->
						<a href="#" class="btn btn-primary">Github</a>
					</div>
				</div>
			</div>
			<div class="col-md mt-3">
				<div class="card" style="width: 18rem;">
					<img src="https://via.placeholder.com/250?text=project+5" class="card-img-top" alt="...">
					<div class="card-body">
						<!-- Insert the project title -->
						<h5 class="card-title">{Project Title}</h5>
						<!-- Insert project description -->
						<p class="card-text">Short Description of project.</p>
						<!-- Insert Link to Project Github -->
						<a href="#" class="btn btn-primary">Github</a>
					</div>
				</div>
			</div>
			<div class="col-md mt-3">
				<div class="card" style="width: 18rem;">
					<img src="https://via.placeholder.com/250?text=project+6" class="card-img-top" alt="...">
					<div class="card-body">
						<!-- Insert the project title -->
						<h5 class="card-title">{Project Title}</h5>
						<!-- Insert project description -->
						<p class="card-text">Short Description of project.</p>
						<!-- Insert Link to Project Github -->
						<a href="#" class="btn btn-primary">Github</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Script Fragment -->
	<div th:replace="fragments/imports :: script-links"></div>
</body>

</html>